.word-line {
    background-color: darkgray;
    padding: 5px;
    margin-bottom: 5px;
}
.word-action {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.word-btn {
    padding: 2px 7px;
    background-color: thistle;
    border-radius: 5px;
    cursor: pointer;
}
.word-memorized {
}
.word-show {
}
